body{
  background-image: url('/home/ian/Documents/moringa-school-projects/triangleTracker/images/image.png');
}

.classHeader{
  text-align: center;
  color: antiquewhite;
  text-decoration: underline;  
}

.classDiv{
  color:ivory;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  text-align: center;
  font-weight: bold;
}

.importantSpan{
font-style: italic;
color:cornsilk;
font-weight: 100;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 35%;
    left: 46%;
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border: 5px solid darkgoldenrod;
    border-style: double;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button:hover{
  background-color: bisque;
      color:cadetblue;
}

.classButtonClick{
  top:35%;
  text-decoration: underline;
  font-size:23px;
}



