body{
  background-image: url('/home/ian/Documents/moringa-school-projects/triangleTracker/images/image.png');
}

.classHeader{
  text-align: center;
  color: antiquewhite;
  text-decoration: underline;  
}

.classText{
  color:ivory;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  text-align: center;
}

.importantSpan{
font-style: italic;
color:violet;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}



