body{
  background-image: url('/home/ian/Documents/moringa-school-projects/triangleTracker/images/image.png');
}

.classHeader{
  text-align: center;
  color: antiquewhite;
  text-decoration: underline;  
}

.classDiv{
  color:ivory;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  text-align: center;
  font-weight: bold;
}

.importantSpan{
font-style: italic;
color:cornsilk;
font-weight: 100;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 35%;
    left: 46%;
    background-color: antiquewhite;

   
    border: none;
    /*color: white;
    padding: 15px 32px;*/

     border: 2px solid coral;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.classButtonClick{
  text-decoration: underline;
}



